
@{
    ViewBag.Title = "Alta";
}

<h2>Alta</h2>
<form action="/Alimentos/Alta" method="post">
    Nombre: <input type="text" name="Nombre" value="" />
    Peso: <input type="text" name="Peso" value="" />
          <input type="submit"  value="Crear" />
</form>
